										.top-bar, .menu li a, .top-bar-left, .top-bar-right, .top-bar ul, footer, .row expanded callout secondary {
												background-color: #2f66bf;
												color: white;
										}
										
										.row footer {
												background-color: #2f66bf;
												color: white;
										}
										
										element {
												color: white;
										}
										
										body {
												background-color: #d9dbda;
										}
										
										.row {
												background-color: white;
												color: black;
										}